@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  font-family: "Oswald", sans-serif;
}
.title {
  font-weight: bold;
  font-size: 1.3125rem;
  font-family: "Oswald", sans-serif;
  letter-spacing: 0.2px;
  margin: 10px 0;
}
.main-item {
  padding: 20px 50px;
}
